{% if auth.user.role.name == 'user' %}

    <!-- Show button only if question isn't already closed -->
    {% if not question.closed %}
        <a href="{{ path_for('question.close', {id: question.id}) }}" class="btn btn-sm btn-success">Close</a>
    {% endif %}

    <!-- Show buttons only if question has no responses and isn't closed -->
    {% if question.responses_count == 0 and not question.closed %}
        <a href="{{ path_for('question.edit', {id: question.id}) }}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{{ path_for('question.delete', {id: question.id}) }}" class="btn btn-sm btn-danger">Delete</a>
    {% endif %}

{% endif %}