{% extends 'templates/app.twig' %}

{% block title %}Home page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h3>Home page</h3>
        </div>
    </div>

{% endblock %}