{% extends 'templates/app.twig' %}

{% block title %}Home page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ role }}
        </div>
    </div>

{% endblock %}