{% extends 'templates/app.twig' %}

{% block title %}Home page{% endblock %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h2>Home page</h2>
        </div>
    </div>

{% endblock %}